/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*===== Global Styles =====*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

/*===== Global Styles =====*/
:root{
    --purpura-black: #110722;
    --purpura-medium: #240046;
    --purpura-3:#3C096C; 
    --rojo-intenso: #ff0a54;
    --gris-1: #e5d9eb;
    --gris-palido: #e7daec; 
    --sombra: #3c096c33;
    --gris-neutro: #d5ccdd;
}
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    font-family: Poppins, sans-serif;
    font-size: 10px;
}
body {
    background-color: var(--gris-palido);
    width: 100%;
  }
section {

    padding: 0 5%;
    padding-top: .2rem;
    padding-bottom: 2rem;
}
/*==================0== menú ===================*/
/*==================0== menú ===================*/
.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: .9rem 2.5rem;
}
.logo {
  height: 7.5rem;
}

.check {
  display: none;
}

.hamburger {
  display: none;
}
.bi-house:hover{
  color: var(--rojo-intenso);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background: var(--gris-1);
  box-shadow: 0 6px 23px 0 #8b80833d;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 33px;
}
.nav-ul li {
  list-style: none;
  margin: 0 1.5rem;
} 
li a {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--purpura-3);
  padding-bottom: 0.1rem;
  position: relative;
}
.botom--rojo{
text-decoration: none;
}
li a:hover{
  color: var(--rojo-intenso);
}
li a span .icon_sub:hover{
  color: var(--rojo-intenso);
}
nav ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .2rem;
  background: linear-gradient(to right, var(--rojo-intenso), var(--gris-palido));
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all .3s;
}
nav ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}
.bi-list-stars{
  font-size: 5.5rem;
  color: var(--purpura-black);
}
.bi-house{
  font-size: 3.5rem;
  color: #110722;
}
.botom{
font-size: 1.8rem;
color: var(--gris-1);
font-weight: 500;
text-decoration: none;
background: var(--rojo-intenso);
padding: 1.2rem;
border-radius: 33px;
box-shadow: 0 6px 18px 0 #3f3d3d3d;
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(7px);
opacity: 1;
color: var(--purpura-medium);
transform: scalex(1);
transition: all 0.2s;
}
.botom:hover {
opacity: 0.8;
transform: scaleX(1.1);
}
/*===================== submenú=================00=========*/
nav li:hover .submenu li {
  top: 0;
  display: block;
}
nav .nav-ul ul > li:hover ul {
  display: block;
}
nav .nav-ul ul ul li {
  display: block;
}

.submenu ul li {
  display: none;
  position: relative;
}
.submenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #e7daec69;
  border-radius: 20px;
  box-shadow: 0 6px 18px 0 #3f3f3f62;
  padding: 2px;
}
.submenu ul li:hover ul > li {
  display: block;
}
.submenu li {
  display: none;
}
/**************************  MEDIA QUERRY  ******************************/
/*  RESPONSIVE PARA FORMATOS MOVILES Y TABLETS MENU QUERIES */
@media (max-width: 1200px) {
    html {
      font-size: 58%;
    }
}

@media (max-width: 991px) {
    section {
      padding: 0 5%;
      padding-top: 2.5rem;
      padding-bottom: 2rem;
    }
  }
@media screen and (max-width: 832px) {
  .botom{
    display: none;
  }
    section {
        padding: 0 5%;
        padding-top: 2.5rem;
        padding-bottom: 2rem;
      }
    nav .btn{
        display: none;
    }

    .hamburger {
        display: inline-block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
    }

    .hamburger i {
        width: 9rem;
    }

    .nav-ul {
        flex-direction: column;
        position: absolute;
        background-color: #240046d3;
        margin: auto;
        left: 26%;
        width: 50%;
        margin-top: 34rem;
        border-radius: 3rem;
        transform: translateY(-444%);
        box-shadow: 0 6px 38px 0 #3f3f3fd8;
        transition: all .5s;
        z-index: 999;
    }

    .nav-ul li {
        padding: 1rem 0;
        font: 1.6rem;
    }

    li  a {
        color: var(--gris-palido);
        font-weight: 400;
        display: block;
    }
    
    .bi-house {
        color: var(--gris-palido);
        font-weight: 400;
        display: block;
    }
    .bi-house:hover{
        color: var(--rojo-intenso);
    }
    .bi-list-stars:hover{
        color: var(--rojo-intenso);
    }

    li a:hover {
        color: var(--rojo-intenso);
    *}

    nav ul li a:hover::before {
        opacity: 0;
    }
    nav ul li a:hover .submenu{
        display: none;
    }
    nav ul li a:hover::before .submenu{
        transform: scalex(0);
        transform-origin: left;
    }
    nav ul li .submenu{
        width: 100%;
        position: relative;
        
    } 
    nav ul li .submenu li a{
        text-align: center;
    }
    nav ul li .icon_sub{
        align-items: center;
    }

    /* RESPONSIVE SECCIONES DE PÁGINA */

    #toggle:checked ~ .nav-ul {
       transform: translateY(.1rem);        
    }
    .home {
        flex-flow: column-reverse;
      }
    
      .home .image img {
        width: 100%;
      }
    
      .home .content h1 {
        font-size: 3.6rem;
      }
    
      .home .content p {
        font-size: 1.5rem;
      }
    
      .about {
        background-position: right;
      }
    
      .newsletter p {
        width: auto;
      }
}
@media (max-width: 450px) {
    section {
        padding: 0 5%;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
      }
    html {
      font-size: 40%;
    }
    .home {
      flex-flow: column-reverse;
    }
  
    .home .image img {
      width: 100%;
    }
  
    .home .content h1 {
      font-size: 3.6rem;
    }
  
    .home .content p {
      font-size: 1.5rem;
    }
  
    .about .info {
      background-position: right;
    }
  
    .about .column .content .buttons a {
      width: 100%;
      text-align: center;
    }
  
    .about .column .content .buttons a:last-child {
      margin: 1rem ;
    }
    .info .info_column .info_cont a{
      width: 100%;
      text-align: center;
    }
    .info .info_column .info_cont a:last-child {
      margin: 2rem;
    }
    
  }
  
/*===== principal===========*//*===== principal===========*/
.home {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.home .image img {
    width: 46vw;
    
  }
.image{
    transform: translateY(-2rem);
}
  
.home .content h1 {
    font-size: 7.5rem;
    color: var(--purpura-black);
    line-height: 6rem;
}
  
.home .content h1 span {
    color: var(--purpura-black);
    
  }
  
.home .content p {
    font-size: 1.7rem;
    color: var(--purpura-3);
    padding: 1rem 0;
  }

/*=========================== sección 2 ===================================*/
.artistas{
  padding-top: 7rem;
  padding-bottom: 3rem;
}
.seccion_1 {
    background-color: var(--gris-neutro) ;
    padding: 23px;
    box-shadow: 0 10px 33px 0 var(--sombra);
}
.contenedor_2 {
    width: 100%;
    text-align: left;
  }
.second_seccion {
    color: var(--rojo-intenso);
    font-size: 5.8rem;
    font-weight: 500;
    line-height: 10.5rem;
    text-align: center;
    justify-content: center;
  }
.items_cotización {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }
.box_costo {
  text-align: center;
  margin: 17px 29px;
  width: 284px;
  height: 400px;
  border-radius: 22px;
  box-shadow: 5px 5px 30px 7px var(--sombra);
  cursor: pointer;
  transition: 0.4s;
  }
.box_costo:hover{
  transform: scale(0.9, 0.9);
}
.sub_cotizacion {
    line-height: 9.5rem;
    font-size: 3rem;
    color: var(--purpura-medium);
  }
.items_cotización p{
    color: var(--purpura-3);
  }
.box_costo p{
  font-size: 1.5rem;
}
.span--rojo{
  color: var(--rojo-intenso);
}
/*=========================== sección 3 tarjetas artistas ========================*/
.cards {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card__list {
  text-align: center;
  margin: 30px 27px;
  width: 284px;
  height: 560px;
  border-radius: 22px;
  box-shadow: 5px 5px 30px 7px var(--sombra);
  cursor: pointer;
  transition: 0.4s;
}
.card__list:hover {
  transform: scale(1.0, 1.0);
  box-shadow: 5px 5px 30px 15px #3c096c86;
}
.card__list--img1{
  background-image: url("../img/4_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card__list--img2{
  background-image: url("../img/4_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card__list--img3{
  background-image: url("../img/4_3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card__list--img4{
  background-image: url("../img/4_5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card__list--img5{
  background-image: url("../img/4_4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.subtitulo_2_2{
  font-size: 4.5rem;
  color: var(--gris-neutro);
  text-shadow: 2px 2px 8px var(--purpura-black);
  margin-bottom: 30.0rem;
  margin-top: 1.0rem;
}
.subtitulo_3{
  color: var(--gris-1);
  font-size: 2.8rem;
  text-shadow: 2px 2px 8px var(--purpura-black);
}
.subtitulo_3_3{
  color: var(--gris-1);
  font-size: 2.8rem;
  text-shadow: 2px 2px 8px var(--purpura-black);
}

@media all and (max-width: 500px) {
  .card__list {
    flex-direction: column;
  }
}
/*===============NOSOTROS======*//*===============NOSOTROS======*/
.about .column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 33px;
  padding-bottom: 33px;
}

.column--img {
  flex: 1 1 34rem;
}

.column--image img {
  width: 88%;
  animation: float 3s linear infinite;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3.5rem);
  }
}
.about .column .content {
  flex: 1 1 40rem;
}
.about .column .content .buttons a:last-child {
  margin-left: 2rem;
}
.sub__titulo{
  font-size: 4.5rem;
  font-weight: 500;
  color: var(--purpura-black);
  margin-bottom: 3rem;
}
.sub__contenido{
  font-size: 1.4rem;
  justify-content: center;
  text-align: justify;
  color: var(--purpura-3);
}
.content{
    padding: 3%;
}

/*===============ESTILO BOTONES RED SOCIAL Y DEMÁS======*//*===============ESTILO BOTONES RED SOCIAL Y DEMÁS======*/
.icon_social{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}
.icon_social .icon{
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.icon_social .icon span{

  display: block;
  height: 60px;
  width: 60px;
  background: #ff0a53e1;
  box-shadow: 0 8px 32px 0 var(--purpura-black);
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px #130b1b44;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.icon_social .icon span i{
  color: #d5ccdd;
  line-height: 60px;
  font-size: 34px;
  font-weight: 700;
}
.tooltip{

  position: absolute;
  top: 0;
  z-index: 1;
  background: var(--gris-neutro);
  color: var(--gris-1);
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.icon_social .icon:hover .tooltip{
  top: -84px;
  opacity: 1;
  pointer-events: auto;
}
.icon .tooltip:before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.icon_social .icon:hover span{

  color: var(--purpura-3);
}
.icon_social .icon:hover span,
.icon_social .icon:hover .tooltip{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.instagram:hover span,
.instagram:hover .tooltip,
.icon_social .instagram:hover .tooltip:before{
  background: var(--purpura-3);
  box-shadow: 0 8px 32px 0 var(--purpura-black);
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
}
.phone:hover span,
.phone:hover .tooltip,
.phone:hover .tooltip:before{
  background: var(--purpura-3);
  box-shadow: 0 8px 32px 0 var(--purpura-black);
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
}
/*===================== CONTACTO ========================*/
.formulario{
  padding: 88px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--purpura-3);
  position: relative;
}
.contac_h3{
  text-align: center;
}
.inscripcion{
  z-index: 12;
  max-width: 1050px;
  background: var(--gris-neutro);
  width: 100%;
  border-radius: 12px;
  margin: 0 20px;
  box-shadow: 0 5px 17px #131313;
}
.inscripcion .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
}
.content .image-box{
  max-width: 49%;
}
.content .image-box img{
  width: 100%;
}
.content .topic{
  font-size: 22px;
  font-weight: 500;
  color: var(--purpura-3);
}
.content form{
  width: 40%;
  margin-right: 30px;
}
.content .input__box{
  height: 50px;
  width: 100%;
  margin: 16px 0;
  position: relative;
}
.content .input__box input{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  padding-left: 16px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  background: #fff;
}
.content .input__box input:focus,
.content .input__box input:valid{
  background: var(--gris-neutro);
  border-color: var(--purpura-3);
}
.content .input__box label{
  position: absolute;
  left: 18px;
  top: 50%;
  color: var(--purpura-3);
  font-size: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.content .input__box input:focus ~ label,
.content .input__box input:valid ~ label{
  top: 0;
  left: 12px;
  display: 14px;
  color: var(--purpura-3);
  background: var(--gris-neutro);
  
}
.content .input__box--message{
  min-height: 100px;
  position: relative;
}
.content .input__box--message textarea{
  position: absolute;
  height: 100%;
  width: 100%;
  padding-left: 16px;
  padding-top: 16px;
  resize: none;
  font-size: 16px;
  border: 2px solid transparent;
  border-radius: 13px;
  outline: none;
  transition: all 0.3s ease;
}
.content .input__box--message textarea:focus{
  border-color: var(--purpura-3);
  background: var(--gris-neutro);
  
}
.content .input__box--message label{
  position: absolute;
  font-size: 16px;
  color: var(--purpura-3);
  left: 12px;
  margin-top: 1rem;
  top: 0;
  display: 14px;
  pointer-events: none;
  transition: all 0.3s ease;
}
.content .input__box--message textarea:focus ~ label{
  left: 12px;
  top: -10px;
  color: var(--purpura-3);
  font-size: 15px;
  background:var(--gris-neutro);
}
.content .input__box--modifier input[type="submit"]{
  color: #fff;
  background: var(--rojo-intenso);
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.content .input__box--modifier input[type="submit"]:hover{
  background-color: var(--purpura-3);
}
@media (max-width:1000px) {
  .content .image-box{
    max-width: 70%;
  }
  .content{
    padding: 10px 0;
  }
}
@media (max-width:900px) {
  .content .image-box{
    display: none;
  }
  .content form{
    width: 100%;
    margin-left: 30px;
  }
}
/*=========================== FOOTER ID FINAL ========================*/
footer{
  bottom: 0;
  left: 0rem;
  right: 0rem;
  background: #16092c;
  height: auto;
  color: var(--rojo-intenso);
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.footer-bottom{
  background: var(--purpura-black);
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
/*=========================== CUIDADO HTML========================*/
.info{
  padding: 7rem;
  margin-top: 4rem;
}
.info .info_column{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.img_info{
  flex: 1 1 34rem;
}
.img_info img{
  animation: float 3s linear infinite;
  }
@keyframes float {
    0%,
    100% {
      transform: translateY(0rem);
    }
    50% {
      transform: translateY(-3.5rem);
    }
  }
.info .info_column .info_cont{
  flex: 1 1 17rem;
}
.info_cont h2{
  font-size: 4.9rem;
  color: var(--purpura-black);
  margin-bottom: 2rem;
}
.info_cont h3{
  font-size: 2.5rem;
  color: var(--purpura-3);
  margin-bottom: 3rem;
}
.info_cont h4{
  font-size: 1.5rem;
  color: var(--purpura-3);
  margin-bottom: 1rem;
}
.info_cont p{
  text-align: justify;
  color: var(--purpura-3);
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
/*=========================== CUIDADO HTML========================*/
